@tailwind base;
@tailwind components;
@tailwind utilities;


.big-title{
    font-weight: 700;
    size: 24px;
}

.heading{
    font-weight:  600;
    size: 18px;
}

.normal-text{
    font-weight: 500;
    size: 14px;
}

.dashboard-btn{
    font-weight: 600;
    font-size: 24px;
    border-radius: 10px;
    padding: 12px 15px;
}

.initial-blue-poke{
    background-color: #1d2c5e;
}

.blue-poke{
    background-color: #3466af; 
}

.yellow-poke{
    background-color: #ffcb05;
}

.card-poke{
    width: 400px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 10px solid #f6c700;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 100%;
}

/* Track */
::-webkit-scrollbar-track {
background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}